$color-primary-dark: #15001c;
$color-primary: hsl(309, 85%, 13%);
$color-secondary: #ffffff;
$color-accent: #c29500;
$color-light: #e4c580;
$color-bg: #200101;
$color-card-bg: #000787;
$color-text-light: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-shadow-light: rgba(0, 0, 0, 0.7);
$color-shadow-image: rgba(0, 0, 0, 0.6);
$color-shadow-hover: rgba(0, 0, 0, 0.6);
$color-button-bg: #e0b31e;
$color-button-bg-hover: #e7b019;